*{
    margin: 0;
    padding: 0;
} 


.cabecalho {
   background-color: #FDF7EE;
    color: #EFCD9F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.Luminarias-Decorativas {
background-color: linear-gradient(#FDF7EE, #EABA5E);
    color: #EFCD9F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.luminarias-div-conteudo {
    width: 35%;
}

.luminarias-titulo {
    padding: 24px 0;
    background-color: #FDF7EE;
    color: #EFCD9F;
}


.luminarias-texto-um {
    background-color: #FDF7EE;
    color: #EFCD9F;
}

.luminarias-imagem {
    background-color: #FDF7EE;
    color: #EABA5E;
    width: 18%;
}

.estudante{
    background-color: #FDF7EE;
    color: #EFCD9F;
}
.estudante-titulo {
    background-color: #FDF7EE;
    color: #EFCD9F;
}
.estudante-icone {
background-color: #FDF7EE;
color: #EABA5E;
width: 3%;
}
.estudante-imagem-1 {
background-color: #FDF7EE;
color: #EABA5E;
width: 6%;
}

.estudante-imagem-2 {
    background-color: #FDF7EE;
    color: #EABA5E;
    width: 7%;
    }
