*{
    margin: 0;
    padding: 0;
} 

.body {
       font-family: "PT Sans Caption", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
.cabecalho {
   background-color: #f8ebd8;
    color: #d6c0a2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.Luminarias-Decorativas {
    background-color: #f8ebd8;
    color: #d6c0a2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.luminarias-div-conteudo {
    width: 35%;
}

.luminarias-titulo {
    padding: 24px 0;
    background-color: #f8ebd8;
    color: #d6c0a2;;
}


.luminarias-texto-um {
    background-color: #f8ebd8;
    color: #d6c0a2;;
}

.luminarias-imagem {
    background-color: #f8ebd8;
    color: #d6c0a2;;
    width: 18%;
}

.estudante{
    background-color: #f8ebd8;
    color: #d6c0a2;;
}
.estudante-titulo {
    background-color: #f8ebd8;
    color: #d6c0a2;;
}
.estudante-icone {
    background-color: #f8ebd8;
    color: #d6c0a2;
 width: 17%;
}
.estudante-imagem-1 {
    background-color: #f8ebd8;
    color: #d6c0a2;
 width: 26%;
}

.estudante-imagem-2 {
    background-color: #f8ebd8;
    color: #d6c0a2;
    width: 27%;
    }

.estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
    width: 4%;
}
