*{
    margin: 0;
    padding: 0;
} 


.cabecalho {
   background-color: #FDF7EE;
    color: #EFCD9F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.Luminarias-Decorativas {
background-color: #FDF7EE;
    color: #EFCD9F;
}
.luminarias-div-conteudo {
    width: 35%;
}

.luminarias-titulo {
    padding: 24px 0;
    background-color: #FDF7EE;
    color: #EFCD9F;
}

.luminarias-texto-um {
    background-color: #FDF7EE;
    color: #EFCD9F;
}
